curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/form.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/item.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/itemgroup.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/study.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/studyevent.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/subject.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/subjectentry.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
curl -u admin:${ODISS_DRUID_ADMIN_PASSWORD} -k -XPOST -H'Content-Type: application/json' -d @../config/druid/druid_supervisor_config/user.json https://${ODISS_SERVER_NAME}/coordinator/druid/indexer/v1/supervisor
