mkdir -p "./backup"

docker exec -i postgres /bin/bash -c "PGPASSWORD=${ODISS_POSTGRES_PASSWORD} pg_dump --username ${ODISS_POSTGRES_USER} druid" > ./backup/druid_metadata_dump.sql
docker exec -i postgres /bin/bash -c "PGPASSWORD=${ODISS_POSTGRES_PASSWORD} pg_dump --username ${ODISS_POSTGRES_USER} metabase" > ./backup/metabase_dump.sql

docker run --rm --volumes-from middlemanager -v $(pwd):/a ubuntu tar cvf /a/backup/druid_shared.tar /opt/shared